{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flasky-Home{% endblock %}

{% block page_content %}
<div class="page-header">

    <div>
        {% if current_user.can(Permission.WRITE_ARTICLES) %}
        {{ wtf.quick_form(form) }}
        {% endif %}

        <ul class="posts">
            {% for post in posts %}
            <li class="post">
            <div class="profile-thumbnail">
            <a href="{{ url_for('.user', username=post.author.username) }}">
            <img class="img-rounded profile-thumbnail"
            src="{{ post.author.gravatar(size=40) }}">
            </a>
            </div>
            <div class="post-date">{{ moment(post.timestamp).fromNow() }}</div>
            <div class="post-author">
            <a href="{{ url_for('.user', username=post.author.username) }}">
            {{ post.author.username }}
            </a>
            </div>
            <div class="post-body">{{ post.body }}</div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <ul>
            <p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
            <p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>
            <h1>Hello, {% if name %}{{ name }}!{% else %}Stranger !{% endif %}</h1>
            {% if known %}
            <p>Happy to see you again!</p>
            {% else %}
            <p>Please to meet you !</p>
            {% endif %}
            <h2>
                Login Sucess, hello,
                {% if current_user.is_authenticated %}
                    {{ current_user.username }}
                {% else %}
                    Stranger
                {% endif %}
            </h2>
        </ul>
        
    </div>
    {% include '_posts.html' %}
</div>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{{ wtf.quick_form(form) }}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}